Welcome to the little Python developer test
===================================

Below you will find few exercises to work on. For each exercise there is a cell to write your code in. Occasionally some code sniplet is provided to start with. Once you have filled a cell, you can run your code in the cells (Shft + Enter). If your code needs a variable which has been assigned in another cell above or it needs some package which is imported in another cell, then please make sure the pre-requisite cell has been run before the cell at hand. 

You can use any sources to solve the questions and the target time for the test is around 30 minutes. When you are done, please save the notebook as .ipynb (File -> Download as) and send it to emericus.molnar@gmail.com. If you had any question, contact me. Good coding!

Exercise 1
---------------
You will be provided with a pandas dataframe which contains the population and area of some American states. Please calculate the density of the states in a new column called 'density'.

In [ ]:
import pandas as pd
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

Exercise 2
--------------
Select the 'area' column from the dataframe and assign it as a dataframe with the name 'state_area'.

Exercise 3
--------------
Select the rows of those states in 'data' where the density is higher than 100. Assign it to 'crowded' dataframe.

Exercise 4
--------------
Create a column in 'data' which has True value if the state name is longer than 7 characters otherwise False. Calculate the average density for the two groups of states.

Exercise 5
--------
You will have two dataframes which contains the name of employees, their groups and their salaries. Merge the two dataframes such that in each row we can see the group and the salary of an employee next to each other. Do not keep columns which have the same values. Call the new dataframe 'employee'.

In [ ]:
employee_group = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
name_salary = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
display(employee_group)
display(name_salary)

Exercise 6
--------
Use groupby command on 'employee' such that the resulted dataframe shows the maximum salary in each 'group'.

Exercise 7
---------
Make a statistics from the Titanic survival data. Use pivot_table command to calculate survival ratio within groups where the dimensions are: gender and the travel class (labeled as 'sex' and 'class' in the data)

In [ ]:
import numpy as np
import seaborn as sns
titanic = sns.load_dataset('titanic')